/* --------- VARIABLES --------- */
/*$navTopMargin: 1.5vh;
$testColor1: #E1EABF;
$testColor2: #FFFEE8;
$testColor3: #F6F6DA;
$testColor4: #F4F0D7;
$borderColor: #C7C4A3;
$HeadlineColor: #316876;
$HeadlineColor2: #319A76;
$transformColor: black;*/
/* Test */
$navTopMargin: 1.5vh;
$testColor1: #010A0A;
$testColor2: #FFFEE8;
$testColor3: #F6F6DA;
$testColor4: white;
$borderColor: black;
$plainTextColor: gray;
$HeadlineColor: white;
$HeadlineColor2: gray;
$transformColor: white;
$transformColor2: black;

body {
    font-family: 'Roboto', serif !important;
    padding: 0;
    margin-top: 15vh !important;
    color: $HeadlineColor2 !important;
    background-color: white; 
    background-image: url(/assets/gfx/background1.png), url(/assets/gfx/background21.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50vh, 50vh;
    background-position-x: 4vw, 85vw;
    animation: bgMove 4s infinite;
}
.downArrow {
    position: absolute;
    bottom: 0;
    left: 48vw;
}

/* --------- NAV --------- */
#nav {
    color: $HeadlineColor;
    background: $testColor1; 
    /*background-image: url(/assets/gfx/bgPattern.png);*/
    height: 8vh;
    .nav>li>a,
    .nav>li>a:visited {
        background: $testColor1; 
        /*background-image: url(/assets/gfx/bgPattern.png);*/
        color: $HeadlineColor;
        font-size: 1.5em;
        transition: 2s;
    }
    .nav>li>a.active,
    .nav>li>a:hover,
    .nav>li>a:focus {
        color: $transformColor;
        /*background-image: url(/assets/gfx/bgPattern.png);*/
    }
    .dropdown-menu>li>a {
        color: $HeadlineColor;
        transition: 1s;
    }
    .dropdown-menu>li>a:active,
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        color: black;
        background-color: $testColor4;
    }
    
    #nav2 {
        top: $navTopMargin;
    }
    #title {
        top: 3vh;
        font-size: 1.5em;
        transition: 2s;
    }
    #title:hover {
        color: $transformColor;     
    }
    #links {
        top: 2vh;
    }
    #menu{
        background-color: $testColor1;
        /*background-image: url(/assets/gfx/bgPattern.png);*/
        .divider {
            background-color: $testColor4;
        }
    }
}
/* --------- SECTIONS --------- */
.jumbotron {
    height: 85vh;
    border: none;
    background-color: transparent !important;
    text-align: center;
    h1 {
        color: $testColor1 !important;
    }
    h2 {
        color: $testColor1;
    }
    h3 {
        color: $testColor1;
    }
}
.section {
    margin-top: 18vh !important;
    min-height: 20vh;
    height: auto;
    padding-top: 8vh;
    
    
    .content {
        background: $testColor4;
        background-image: url(/assets/gfx/bgPattern.png/);
        min-height: 60vh;
        max-height: auto;
        overflow: auto;
        top: 10vh;
        border-radius: 5px;
        border: $borderColor 1.5px solid;
        border-top: none;
        padding-top: 0vh;
        bottom: 10vh;
        overflow:hidden;
        .headline {
            font-family: 'Roboto Slab';
            /*background-image: url(/assets/gfx/bgPattern.png);*/
            background-color: $testColor1;
            color: $HeadlineColor;
            h2 {
                transition: 2s;
            }
            h2:hover {
                color: $transformColor;
                text-decoration: underline;
            }
        }
        .sub-headline {
            font-family: 'Roboto';
            font-size: 1.5em;
            padding-top: 3vh;
            transition: 2s;
        }
        .sub-headline:hover {
            color: $transformColor2;
        }
        .plainText {
            font-family: 'Roboto';
            padding-top: 3vh;
            font-size: 1.2em;
            transition: 2s;
        }
        .plainText:hover {
            color: $transformColor2;
            .headline2:hover {
                color: $transformColor2;
            }
        }
        .headline2 {
            text-align: center;
            transition: 2s;
        }
    }
}
/* --------- FOOTER --------- */
.footer {
    color: $HeadlineColor;
    height: 250px;
    text-align: center;
    background: $testColor1;
    /*background-image: url(/assets/gfx/bgPattern.png);*/

    #socialLinks {
        top: 40px;
        #socialList {
            li {
                list-style-type: none;
                display: inline-block;
                min-height: 100px;
            }
            .fa {
                color: $HeadlineColor;
                padding: 5px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
                transition: 2s;
            }
            .fa:hover {
                color: $plainTextColor;
            }
        }
    }
    #copyright {
        top: 20px;
    }
    #contact {
        top: 40px;
    }
    li {
        text-align: center;
        list-style: inside;
    }
    
}

@keyframes bgMove {
	0% {
		background-position-y: 50vh;
	}
	50% {
		background-position-y: 48vh;
	}
	100% {
		background-position-y: 50vh;
	}
}
svg {
    max-width: 88rem;
    width: 100%;
    height: auto;
    fill: none;
    stroke: $testColor1;
    stroke-width: 3;
    
    path {
        stroke-dasharray: 1500;
        stroke-dashoffset: -1500;
        
        @for $i from 1 through 15 {
            
            &:nth-of-type(#{$i}) {
                animation: draw 1000ms #{$i * 250}ms forwards;
            }
            
        }
        
    }
    
}

@keyframes draw {
	
	100% {
		stroke-dashoffset: 0;
	}
	
}

.testClass {
    color: brown;
}

#splashTitle {
    animation-delay: 4s;
}
#splashTitle2 {
    animation-delay: 5s;
}
#splashTitle3 {
    animation-delay: 6s;
}
.section {
    animation-delay: 0.5s;
}
.textAnim {
    animation-delay: 1s;
}
.textAnim2 {
    animation-delay: 1.5s;
}