$navTopMargin: 1.5vh;
$testColor1: #E1EABF;
$testColor2: #FFFEE8;
$testColor3: #F6F6DA;
$testColor4: #F4F0D7;
$borderColor: #C7C4A3;
$HeadlineColor: #316876;
$HeadlineColor2: #319A76;

body {
    font-family: 'Roboto', serif !important;
    padding: 0;
    margin: 0;
}

#nav {
    color: $HeadlineColor;
    text-align: center;
    background: $testColor1; 
    height: 8vh;
    border-bottom: $borderColor 1.5px solid; 
    .nav>li>a {
        color: $HeadlineColor;
    }
    .nav>li>a.active,
    .nav>li>a:hover,
    .nav>li>a:focus {
        color: gray;
        background-color: $testColor4;
    }
    .dropdown-menu>li>a {
        color: $HeadlineColor;
    }
    .dropdown-menu>li>a:active,
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        color: gray;
        background-color: $testColor4;
    }
    
    #nav2 {
        top: $navTopMargin;
    }
    #title {
        top: $navTopMargin;
    }
    #links {
        top: $navTopMargin;
    }
    #menu{
        background-color: $testColor1;
        .divider {
            background-color: $testColor4;
        }
    }
}
.section {
    background-color: white; 
    background-image: url(/assets/gfx/background.png), url(/assets/gfx/background2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 50vh, 50vh;
    background-position-x: 4vw, 85vw;
    min-height: 20vh;
    height: auto;
    padding-top: 8vh;
    .content {
        background: $testColor4;
        min-height: 80vh;
        max-height: auto;
        overflow: auto;
        top: 10vh;
        border-radius: 5px;
        border: $borderColor 1.5px solid;
        padding-top: 0vh;
        bottom: 10vh;
        .headline {
            font-family: 'Roboto Slab';
            background-color: $testColor1;
            color: $HeadlineColor;
        }
        .sub-headline {
            font-family: 'Roboto';
            font-size: 1.5em;
            padding-top: 3vh;
        }
        .plainText {
            font-family: 'Roboto';
            padding-top: 3vh;
        }
    }
}
.footer {
    color: $HeadlineColor;
    height: 250px;
    border-top: $borderColor 1.5px solid; 
    text-align: center;
    background: $testColor1;

    #socialLinks {
        top: 40px;
        #socialList {
            li {
                list-style-type: none;
                display: inline-block;
                min-height: 100px;
            }
            .fa {
                color: $HeadlineColor;
                padding: 5px;
                font-size: 30px;
                width: 50px;
                text-align: center;
                text-decoration: none;
            }
            .fa:hover {
                color: white;
            }
        }
    }
    #copyright {
        top: 20px;
    }
    #contact {
        top: 40px;
    }
    li {
        text-align: center;
        list-style: inside;
    }
    
}