/* Variables */
$gridLayout :
    'header header header'
    'header header header'
    'about about about'
    'portfolio portfolio portfolio'
    'contact contact contact'
    'some footer menu'
;
$sectionPadding: 20px;
$bgText: #FFFFFF;
$bgColor1: #1D94BF;
$bgColor2: #27C6FF;
$footerColor: #13637F;
$bgImg: url("/assets/gfx/background.png");
$bgImg2: url("/assets/gfx/background2.png");
$bgImg3: url("/assets/gfx/background3.png");

/* core */
html {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto, Helvetica, 'sans-serif';
}
body{
    margin: 0;
    padding: 0;
}
/* wrappers */

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
    grid-template-areas: $gridLayout;
    padding: 0;
    margin: 0;
}

/* Sections */
.header{
    grid-area: header;
    height: 100vh;
    width: 100vw;
    padding: $sectionPadding;
    margin: 0;
    background-color: $bgColor1;
    background-image: $bgImg;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about{
    grid-area: about;
    height: 100vh;
    width: 100vw;
    background-color: $bgColor2;
    padding: $sectionPadding;
    margin: 0;
    background-image: $bgImg2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.portfolio{
    grid-area: portfolio;
    height: 100vh;
    width: 100vw;
    background-color: $bgColor1;
    padding: $sectionPadding;
    margin: 0;
    background-image: $bgImg3;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact{
    grid-area: contact;
    height: 100vh;
    width: 100vw;
    background-color: $bgColor2;
    padding: $sectionPadding;
    margin: 0;
    background-image: $bgImg2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Elements */
.content-wrapper{
    border-radius: 15px;
    margin: 0;
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
    background-color: $bgText;
    .content{
        border-radius: 10px;
        padding: 5px;
        width: 95%;
        height: 99%;
        margin: 0 auto;
        background-color: $bgText;
        overflow-y: auto;
        overflow-x: hidden;
        h1 {
                padding: 0;
                margin: 0 auto;
        }
        #profileImg{
            width: 200px;
            height: auto;
            float: right;
            top: 0;
        }
    }
}
.footer{
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    grid-area: footer;
    height: 10vh;
    width: 100%;
    background-color: $footerColor;
    border-radius: 15px 15px 0 0;
    .some{
        float: left;
        position: relative;
        margin-top: 10px;
        margin-left: 20px;
        width: 300px;
        grid-area: some;

    }
    .menu{
        float: right;
        position:relative;
        grid-area: menu;
        margin-top: 20px;
        margin-right: 50px;
        .img{
            padding-right: 20px;
            size: 0.5%;
        }
    }
}

/* Contact form */
input, textarea {
    padding: 10px;
    border: 1px solid;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius: 15px;
}
textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    line-height: 200px;
    border-radius: 15px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #C9C9C9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form{
    label{
        margin-left: 10px;
        color: #999999;
    }
}

/* Submit button */

.submit {
    input{
        width: 100px;
        height: 40px;
        background-color: $footerColor;
        color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content-wrapper{
        border-radius: 15px;
        margin: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: $bgText;
        .content{
            border-radius: 10px;
            padding: 5px;
            width: 95%;
            height: auto;
            margin: 0 auto;
            background-color: $bgText;
            overflow-y: hidden;
            overflow-x: hidden;
            h1 {
                    padding: 0;
                    margin: 0 auto;
            }
            #profileImg{
                width: 200px;
                height: auto;
                float: none;
                top: 0;
            }
        }
    }
    .about .contact .portfolio {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}