/* --------- VARIABLES --------- */
/*$navTopMargin: 1.5vh;
$testColor1: #E1EABF;
$testColor2: #FFFEE8;
$testColor3: #F6F6DA;
$testColor4: #F4F0D7;
$borderColor: #C7C4A3;
$HeadlineColor: #316876;
$HeadlineColor2: #319A76;
$transformColor: black;*/
/* Test */
body {
  font-family: 'Roboto', serif !important;
  padding: 0;
  margin-top: 15vh !important;
  color: gray !important;
  background-color: white;
  /*background-image: url(/assets/gfx/background1.png), url(/assets/gfx/background21.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 30vh, 30vh;
    background-position-x: 4vw, 85vw;
    animation: bgMove 4s infinite;*/
  overflow-x: hidden; }

.downArrow img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px; }

a {
  color: white !important;
  text-decoration: none !important; }

/* --------- NAV --------- */
#nav {
  color: white;
  background: #63aab8;
  height: 8vh;
  /*.nav>li>a,
    .nav>li>a:visited {
        background: none; 
        color: $HeadlineColor;
        font-size: 1.5em;
        transition: 2s;
    }
    .nav>li>a.active,
    .nav>li>a:hover,
    .nav>li>a:focus {
        color: $transformColor;
    }
    .dropdown-menu>li>a {
        color: $HeadlineColor;
        transition: 1s;
    }
    .dropdown-menu>li>a:active,
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        color: $elementColor !important;
        background-color: $testColor4;
    }*/ }
  #nav #nav2 {
    top: 1.5vh; }
  #nav #title {
    top: 3vh;
    font-size: 1.5em;
    transition: 2s; }
    #nav #title #titleLink {
      text-decoration: none;
      font-family: 'Quicksand' !important; }
  #nav #title:hover {
    color: white; }
  #nav #links {
    top: 3vh; }
  #nav #menu {
    background-color: #63aab8; }
    #nav #menu .divider {
      background-color: white; }
  #nav #menuBtn {
    color: white !important;
    font-size: 2em;
    font-family: 'Quicksand' !important;
    text-decoration: none;
    outline: none; }
  #nav .collapse .list-group {
    border: none; }
    #nav .collapse .list-group .list-group-item {
      background-color: #63aab8;
      border: none; }
    #nav .collapse .list-group .list-group-item:hover {
      background-color: white;
      color: black;
      border: #63aab8 1px solid; }
      #nav .collapse .list-group .list-group-item:hover a {
        color: #63aab8 !important; }

/* --------- SECTIONS --------- */
.jumbotron {
  height: 85vh;
  border: none;
  background-color: transparent !important;
  text-align: center; }
  .jumbotron #splashLogoAlt h1 {
    font-size: 4em !important;
    font-family: 'Quicksand' !important; }
  .jumbotron h1 {
    color: #010A0A !important; }
  .jumbotron h2 {
    color: #010A0A; }
  .jumbotron h3 {
    color: #010A0A; }

.section {
  margin-top: 18vh !important;
  min-height: 20vh;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 8vh; }
  .section #section4 {
    height: 50vh;
    margin-top: 20vh;
    text-align: center;
    color: black; }
    .section #section4 span {
      display: inline-block; }
    .section #section4 a {
      color: gray !important; }
  .section .content {
    background: white;
    max-height: auto;
    overflow: auto;
    top: 10vh;
    padding: 0vh;
    bottom: 10vh;
    overflow: hidden; }
    .section .content .imgContainer {
      padding: 0;
      background-image: url(/assets/gfx/pattern3.png);
      background-repeat: repeat-x;
      height: 210px;
      width: 100%; }
      .section .content .imgContainer .laptopAnim {
        -webkit-transition: opacity 1s 5s ease-in ease-out;
        -moz-transition: opacity 1s 5s ease-in ease-out;
        -o-transition: opacity 1s 5s ease-in ease-out;
        transition: opacity 1s 5s ease-in ease-out; }
      .section .content .imgContainer .laptopAnim:hover {
        opacity: 0; }
      .section .content .imgContainer img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 200px;
        padding-top: 0px;
        padding-bottom: 0px; }
    .section .content .headline {
      padding-left: 2vw;
      font-family: 'Roboto Slab';
      background-color: #63aab8;
      color: white; }
    .section .content .sub-headline {
      font-family: 'Roboto';
      font-size: 1.5em;
      padding-top: 5vh;
      transition: 2s;
      color: white;
      background-color: #63aab8; }
    .section .content .plainText {
      font-family: 'Roboto';
      padding-top: 3vh;
      font-size: 1.2em;
      transition: 2s; }
    .section .content .plainText:hover {
      color: black; }
      .section .content .plainText:hover .headline2:hover {
        color: black; }
    .section .content .headline2 {
      text-align: center;
      transition: 2s; }

/* --------- FOOTER --------- */
.footer {
  color: white;
  height: 20vh;
  width: 100vw;
  text-align: center;
  background: #63aab8;
  /*background-image: url(/assets/gfx/bgPattern.png);*/ }
  .footer #socialLinks {
    top: 5vh; }
    .footer #socialLinks .fa {
      display: inline-block;
      color: white !important;
      padding-left: 10px;
      width: 50px;
      text-align: center;
      transition: 1.5s; }
    .footer #socialLinks .fa:hover {
      color: black !important; }
  .footer #copyright {
    top: 10vh; }
  .footer #contact {
    top: 40px; }
    .footer #contact #mailLink {
      color: gray !important;
      transition: 1.5s; }
    .footer #contact #mailLink:hover {
      color: white !important; }

#splashLogo {
  padding-top: 15vh;
  display: block;
  margin: auto;
  max-width: 100rem;
  width: 100%;
  height: auto;
  fill: #E0DDCF;
  stroke: #63aab8;
  stroke-width: 10; }
  #splashLogo path {
    stroke-dasharray: 1500;
    stroke-dashoffset: -1500; }
    #splashLogo path:nth-of-type(1) {
      animation: draw 4000ms 250ms forwards; }
    #splashLogo path:nth-of-type(2) {
      animation: draw 4000ms 500ms forwards; }
    #splashLogo path:nth-of-type(3) {
      animation: draw 4000ms 750ms forwards; }
    #splashLogo path:nth-of-type(4) {
      animation: draw 4000ms 1000ms forwards; }
    #splashLogo path:nth-of-type(5) {
      animation: draw 4000ms 1250ms forwards; }
    #splashLogo path:nth-of-type(6) {
      animation: draw 4000ms 1500ms forwards; }
    #splashLogo path:nth-of-type(7) {
      animation: draw 4000ms 1750ms forwards; }
    #splashLogo path:nth-of-type(8) {
      animation: draw 4000ms 2000ms forwards; }
    #splashLogo path:nth-of-type(9) {
      animation: draw 4000ms 2250ms forwards; }
    #splashLogo path:nth-of-type(10) {
      animation: draw 4000ms 2500ms forwards; }
    #splashLogo path:nth-of-type(11) {
      animation: draw 4000ms 2750ms forwards; }
    #splashLogo path:nth-of-type(12) {
      animation: draw 4000ms 3000ms forwards; }
    #splashLogo path:nth-of-type(13) {
      animation: draw 4000ms 3250ms forwards; }
    #splashLogo path:nth-of-type(14) {
      animation: draw 4000ms 3500ms forwards; }
    #splashLogo path:nth-of-type(15) {
      animation: draw 4000ms 3750ms forwards; }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

#splashTitle {
  animation-delay: 500ms; }

#splashTitle2 {
  animation-delay: 700ms; }

#splashTitle3 {
  font-weight: bold;
  animation-delay: 1500ms; }
  #splashTitle3 #sT1 {
    color: #F3C545; }
  #splashTitle3 #sT2 {
    color: #638FB8; }
  #splashTitle3 #sT3 {
    color: #61B864; }

.section {
  animation-delay: 200ms; }

.textAnim {
  animation-delay: 500ms; }

.textAnim2 {
  animation-delay: 600ms; }

.textAnim3 {
  animation-delay: 1400ms; }

/* Button */
.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease; }
  .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      top: 0;
      transition: top .3s ease, transform .3s .5s ease;
      width: 40px; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 40px;
  width: 40px; }

.tcon-svgchevron path {
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: black;
  stroke-width: 1px; }

.tcon-svgchevron path.a1 {
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  animation-delay: -1s; }

.animatedHover {
  animation-play-state: paused; }

.animatedHover:hover {
  animation-play-state: running; }

@media only screen and (max-width: 991px) {
  body {
    background: none; }
    body h1 {
      font-size: 1.5em !important; }
    body h2 {
      font-size: 1em; }
    body h3 {
      font-size: 1.05em; }
  #links {
    top: 0.5vh !important;
    position: absolute;
    left: 0;
    padding-left: 0vh; }
  .section {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .content {
    border: none !important;
    border-radius: 0 !important; }
    .content .imgContainer {
      height: 100px !important;
      background-image: none !important; }
      .content .imgContainer .smHide {
        display: none !important; }
      .content .imgContainer img {
        display: block !important;
        margin: 0 auto !important;
        position: static !important;
        max-height: 100px !important; }
    .content .headline {
      padding-left: 5vw !important; }
    .content .plainText {
      text-align: center !important; }
  .downArrow {
    display: none; } }

/* deactivate animate.css on mobile */
@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }
