/* Variables */
/* core */
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, Helvetica, 'sans-serif'; }

body {
  margin: 0;
  padding: 0; }

/* wrappers */
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "header header header" "about about about" "portfolio portfolio portfolio" "contact contact contact" "some footer menu";
  padding: 0;
  margin: 0; }

/* Sections */
.header {
  grid-area: header;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  margin: 0;
  background-color: #1D94BF;
  background-image: url("/assets/gfx/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

.about {
  grid-area: about;
  height: 100vh;
  width: 100vw;
  background-color: #27C6FF;
  padding: 20px;
  margin: 0;
  background-image: url("/assets/gfx/background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

.portfolio {
  grid-area: portfolio;
  height: 100vh;
  width: 100vw;
  background-color: #1D94BF;
  padding: 20px;
  margin: 0;
  background-image: url("/assets/gfx/background3.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

.contact {
  grid-area: contact;
  height: 100vh;
  width: 100vw;
  background-color: #27C6FF;
  padding: 20px;
  margin: 0;
  background-image: url("/assets/gfx/background2.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* Elements */
.content-wrapper {
  border-radius: 15px;
  margin: 0;
  width: 50vw;
  height: 90vh;
  margin: 0 auto;
  background-color: #FFFFFF; }
  .content-wrapper .content {
    border-radius: 10px;
    padding: 5px;
    width: 95%;
    height: 99%;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden; }
    .content-wrapper .content h1 {
      padding: 0;
      margin: 0 auto; }
    .content-wrapper .content #profileImg {
      width: 200px;
      height: auto;
      float: right;
      top: 0; }

.footer {
  position: fixed;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  grid-area: footer;
  height: 10vh;
  width: 100%;
  background-color: #13637F;
  border-radius: 15px 15px 0 0; }
  .footer .some {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
    grid-area: some; }
  .footer .menu {
    float: right;
    position: relative;
    grid-area: menu;
    margin-top: 20px;
    margin-right: 50px; }
    .footer .menu .img {
      padding-right: 20px;
      size: 0.5%; }

/* Contact form */
input, textarea {
  padding: 10px;
  border: 1px solid;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  border-radius: 15px; }

textarea {
  min-width: 400px;
  max-width: 400px;
  min-height: 200px;
  max-height: 200px;
  line-height: 200px;
  border-radius: 15px; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: 1px solid #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; }

.form label {
  margin-left: 10px;
  color: #999999; }

/* Submit button */
.submit input {
  width: 100px;
  height: 40px;
  background-color: #13637F;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content-wrapper {
    border-radius: 15px;
    margin: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF; }
    .content-wrapper .content {
      border-radius: 10px;
      padding: 5px;
      width: 95%;
      height: auto;
      margin: 0 auto;
      background-color: #FFFFFF;
      overflow-y: hidden;
      overflow-x: hidden; }
      .content-wrapper .content h1 {
        padding: 0;
        margin: 0 auto; }
      .content-wrapper .content #profileImg {
        width: 200px;
        height: auto;
        float: none;
        top: 0; }
  .about .contact .portfolio {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden; } }
