/*---------------color variables-----------*/
/*-------------template variable----------*/
/*-------------root-------------*/
html {
  font-size: 14px; }

body {
  /*background-color: $dark-gray1;*/ }

a:link, a:visited, a:active a:hover {
  text-decoration: none; }

/* ------------ DIVs ---------------*/
.wrapper {
  display: grid;
  grid-area: "nav nav nav" "header header header" "cv cv cv" "contact contact contact" "footer footer footer";
  background-color: #8a8c99;
  width: 100vw; }

.header {
  grid-area: header;
  background-color: #cfd5e6;
  width: 100vw;
  height: 100vh;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1; }

.nav {
  grid-area: nav;
  position: fixed;
  width: 100vw;
  height: 90px;
  background: #8a8c99;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  color: #cfd5e6e;
  padding-top: 10px;
  padding-left: 10px; }
  .nav a {
    color: #b2b9d2; }
  .nav a:active {
    color: #f4f5fa; }
  .nav a:hover {
    color: #f4f5fa; }
  .nav p {
    font-family: "Roboto slab", Arial, Sans-serif; }

.cv {
  width: 100vw;
  height: 100vh;
  grid-area: cv;
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  background-color: #cfd5e6; }
  .cv a {
    padding-top: 100px; }

.contact {
  width: 100vw;
  height: 100vh;
  grid-area: contact;
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  background-color: #cfd5e6; }

.footer {
  grid-area: footer;
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
  height: 10vh;
  width: 100vw;
  background-color: #8a8c99; }
  .footer #footnote {
    color: #b2b9d2;
    text-align: center; }
    .footer #footnote a {
      color: #b2b9d2;
      text-decoration: none; }
